.wrap-viewer{
    background-color: #FFFFFF;
    padding: 10px;
}

a.download-wrap{
    display: block;
    /**width: 600px;**/
    margin: 0px auto;
    text-align: center;
    color: #FFFFFF;
}

.download-wrap a{
    color: #FFFFFF;
    display: block;
}
#doc-viewer {
    /**width: 600px;**/
    padding: 10px;
    height: 500px;
    margin: 0px auto;
    overflow: hidden;
    /**overflow-y: auto;**/
    background-color: #837777;
    border-top: 1px solid #837777;
    border-bottom: 1px solid #837777;
}

#divcanvas{
    background-color: #ffffff;
    height: 400px;
    padding-top: 50px;
    margin-right: 3px;
    text-align: center;
    display: none;
}

.loader {
  margin: 100px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader_pdf{
  position: relative;
  margin: 100px auto;
  width: 100px;
}
